<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-circle" class="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-label class="confirm">Confirm</ion-label>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


  <div class="ion-padding-start">
    <h4 style="display:inline;">Selected Interests</h4>
    &nbsp;
    <p class="disclaimer" style="display:inline;">(Select up to 5 interests)</p>
    <ion-chip *ngFor="let select of selectedList, ; let i= index" (click)="removeInterest(i,selectedList)" >
      <ion-label>
        {{ select }}
      </ion-label>
      <ion-icon name="close-outline"  [style.color]="'#fff'"></ion-icon>
    </ion-chip>
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleSports()" >
      <ion-icon [name]="visibleSports ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Sports 
    </h4>

    <div *ngIf="visibleSports">
      <ion-chip (click)="selectInterest(sport,sportsList)" *ngFor="let sport of sportsList">
        <ion-label>
          {{ sport }}
        </ion-label>
      <ion-icon name="add"  [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleWelness()" >
      <ion-icon [name]="visibleWelness ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Wellness 
    </h4>

    <div *ngIf="visibleWelness">
      <ion-chip (click)="selectInterest(wellness,wellnessList)" *ngFor="let wellness of wellnessList" >
        <ion-label>
          {{ wellness }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleOutdoor()" >
      <ion-icon [name]="visibleOutdoor ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Outdoor Activities 
    </h4>

    <div *ngIf="visibleOutdoor">
      <ion-chip (click)="selectInterest(outdoor,outdoorList)" *ngFor="let outdoor of outdoorList" >
        <ion-label>
          {{ outdoor }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'" ></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleArt()" >
      <ion-icon [name]="visibleArt ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Arts and Crafts
    </h4>

    <div *ngIf="visibleArt">
      <ion-chip (click)="selectInterest(art,artList)" *ngFor="let art of artList" >
        <ion-label>
          {{ art }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'" ></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleMusic()" >
      <ion-icon [name]="visibleMusic ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Music & Entertainment
    </h4>

    <div *ngIf="visibleMusic">
      <ion-chip (click)="selectInterest(music,musicList)" *ngFor="let music of musicList" >
        <ion-label>
          {{ music }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleCulture()" >
      <ion-icon [name]="visibleCulture ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Culture 
    </h4>

    <div *ngIf="visibleCulture">
      <ion-chip (click)="selectInterest(culture,cultureList)" *ngFor="let culture of cultureList" >
        <ion-label>
          {{ culture }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleTechnology()" >
      <ion-icon [name]="visibleTechnology ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Technology
    </h4>

    <div *ngIf="visibleTechnology">
      <ion-chip (click)="selectInterest(technology,technologyList)" *ngFor="let technology of technologyList" >
        <ion-label>
          {{ technology }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>
    
  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleMythic()" >
      <ion-icon [name]="visibleMythic ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Mysticism
    </h4>

    <div *ngIf="visibleMythic">
      <ion-chip (click)="selectInterest(mythic,mysticismList)" *ngFor="let mythic of mysticismList" >
        <ion-label>
          {{ mythic }}
        </ion-label>
      <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
    </ion-chip>
    </div>

  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleNight()" >
      <ion-icon [name]="visibleNight ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Nightlife 
    </h4>

    <div *ngIf="visibleNight">
      <ion-chip (click)="selectInterest(nightlife,nightlifeList)" *ngFor="let nightlife of nightlifeList" >
        <ion-label>
          {{ nightlife }}
        </ion-label>
        <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
      </ion-chip>
    </div>

  </div>


  <div class="ion-padding-start">
    <h4 (click)="toggleFood()" >
      <ion-icon [name]="visibleFood ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      Food/Drink Hobbies 
    </h4>

    <div *ngIf="visibleFood">
      <ion-chip (click)="selectInterest(food,foodList)" *ngFor="let food of foodList" >
        <ion-label>
          {{ food }}
        </ion-label>
        <ion-icon name="add" [style.color]="'#fff'"></ion-icon>
      </ion-chip>
    </div>

  </div>

</ion-content>

