.container {
    display: flex;
  
    &__image {
      margin-left: 16px;
      margin-top: 5px;
      width: 12%;
      height: 12%;
      overflow: hidden;
      float: left;
    }

}

.belllogo {
    color: #2b2b2b;
    opacity: 0.9;
    width: 27px;
    height: 27px;
}

ion-avatar {
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.editButtonContainer {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30rem;
}

.editButton {
    --color: #ffff;
    --background: #feaa00;
}

ion-item {
    float: left;
}

.row:after {
    display: table;
    clear: both;
    content: "";
    margin-bottom: 1rem;
  }

.center {
    text-align: center;
}

.descriptionContainer {
    text-align: center;
    p{
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

ion-chip {
	--color: #fff;
	--background: #feaa00;
}

ion-label {
    line-height: 2;
}

.list-md {
    padding-top: 0px;
    padding-bottom: 4px;
}

.sc-ion-label-md-s p {
    margin-top: 10px;
}


.left {
    width: 35%;
}

.middle {
    width: 20%;
}

.right {
    width: 45%;
}





