<ion-header class="ion-no-border">
</ion-header>

<ion-content>
  <ion-img src="/assets/logo sem fundo.png"></ion-img>

  <div class="register-form">
    <ion-label>Email</ion-label>
    <ion-input type="email" placeholder="johndoe@email.com"></ion-input>
    
    <ion-label>Mobile Phone</ion-label>
    <ion-input type="number" placeholder="+351 922222222"></ion-input>
  
    <ion-label>Full Name</ion-label>
    <ion-input placeholder="John Doe"></ion-input>
    
    <ion-label>Password</ion-label>
    <ion-input type="password" placeholder="Minimium 6 characters"></ion-input>
  
    <ion-label>Birth Date</ion-label>
    <ion-input type="date"></ion-input>

    <span>By signing up, you agree to our <b>Terms</b> & <b>Privacy Policy</b>.</span>

    <button type="submit">SIGN UP</button>
  
    <p id="login">Have an account? <a (click)="goLogInPage()">Log In</a></p>

    <p><a (click)="goHttp()">qualquer cena</a></p>
    
  </div>
</ion-content>
