.close {
    color: #2b2b2b;
    opacity: 0.9;
    width: 35px;
    height: 35px;
  }

ion-toolbar{
    width: 100%;
    height: 69px;
    --border-style: none;
  }


.editButtonContainer {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 30rem;
}

.editButton {
  --color: #ffff;
  --background: #feaa00;
}

ion-chip {
	--color: #fff;
	--background: #feaa00;
}

.ion-padding-start{
	padding-bottom: 16px
}

.container {
  padding-bottom: 8px;
}