<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="close-circle" class="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
  <ion-item class="ion-card" lines="none">
    <input type="file" (change)="onFileChange($event)" />
  </ion-item>
<!--<ion-button color="primary" expand="full" (click)="submitForm()">Upload</ion-button>-->
</div>


<div class="container">
  <ion-item (click)="openInterestList()" expand="full">
    <ion-label>Interests</ion-label>
  </ion-item>
</div>

<div class="ion-padding-start">
  <ion-chip *ngFor="let interest of interestsList">
    <ion-label>
      {{ interest }}
    </ion-label>
    <ion-icon name="thumbs-up" [style.color]="'#fff'"></ion-icon>
  </ion-chip>
</div>


<div class="container">
  <ion-item (click)="openLanguageList()" expand="full">
    <ion-label>Languages</ion-label>
  </ion-item>
</div>

<div class="ion-padding-start">
  <ion-chip *ngFor="let language of languagesList">
    <ion-label>
      {{ language }}
    </ion-label>
    <ion-icon name="thumbs-up"  [style.color]="'#fff'"></ion-icon>
  </ion-chip>
</div>


<div class="description">
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea value="{{user.description}}" [(ngModel)]="description" maxlength=500 autoGrow="true"></ion-textarea>
  </ion-item>
</div>

<div class="editButtonContainer">
  <ion-button (click)="submitForm()" class="editButton"><p>Confirm</p></ion-button>
</div>




</ion-content>
