<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="close-circle" class="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
  <ion-item class="ion-card" lines="none">
    <input type="file" (change)="onFileChange($event)" />
  </ion-item>
<!--<ion-button color="primary" expand="full" (click)="submitForm()">Upload</ion-button>-->

</div>




</ion-content>
