:root {
	--ion-color-new: #feaa00;
	--ion-color-new-rgb: 254,170,0;
	--ion-color-new-contrast: #000000;
	--ion-color-new-contrast-rgb: 0,0,0;
	--ion-color-new-shade: #e09600;
	--ion-color-new-tint: #feb31a;
}

.ion-color-new {
	--ion-color-base: var(--ion-color-new);
	--ion-color-base-rgb: var(--ion-color-new-rgb);
	--ion-color-contrast: var(--ion-color-new-contrast);
	--ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
	--ion-color-shade: var(--ion-color-new-shade);
	--ion-color-tint: var(--ion-color-new-tint);
}

/*
ion-content {
	--background: #feaa00;
}

ion-header {
	--background: #feaa00;
}

ion-toolbar {
	--background: #feaa00;
}
*/

* {
	--background: rgb(249,187,21);
	--background: linear-gradient(90deg, rgba(249,187,21,1) 0%, rgba(255,204,124,1) 100%);
}

h4 {
	color: #000000;
}

.form {
	padding: 0 12vw;
	margin-top: 60px;
}

ion-input {
	--background: #fff;
	--padding-start: 33px;
	height: 55px;
	border-radius: 25px;
	margin-bottom: 22px;
	color: #000000;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 10%;
}
  
img {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 5em;
}

/*.image-container {
	background: #f0f0f0;
	position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}*/

.login-button {
	color: #feaa00;
	--background:#fff;
	--border-color: #feaa00;
}

.sign-button {
	margin-top: 10px;
	color: #fff;
	--background: #feaa00;
	--border-color: #fff;
}

.buttons {
	margin-top: 0px;
	text-align: center;
	
}

