.ion-padding-start{
	padding-bottom: 16px
}

.close {
    color: #2b2b2b;
    opacity: 0.9;
    width: 35px;
    height: 35px;
  }

.confirm {
	color: #000;
}

* {
	--background: rgb(249,187,21);
	--background: linear-gradient(90deg, rgba(249,187,21,1) 0%, rgba(255,204,124,1) 100%);
}

h4 {
	color: #000000;
}

.form {
	padding: 0 12vw;
	margin-top: 62px;
}

ion-input {
	--background: #ffff;
    --padding-start: 20px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 22px;
    color: #000000;
    width: 300px;
    margin-left: 2em;
    margin-top: 0.5em;
    text-indent: 1em;
}

ion-label {
  font-family:OpenSans-Bold;
  src: url("/assets/fonts/OpenSans-Bold.ttf");
  margin-left: 1em;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 10%;
}

ion-img {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 2em;
}

.submit-button {
	color: #feaa00;
	--background:#fff;
	--border-color: #feaa00;
	margin-top: 60px;
	text-align: center;
	padding: 0 12vw;
}


p {
	margin-left: 16px;
	margin-right: 16px;
}

