ion-chip {
	--color: #fff;
	--background: #feaa00;
}

.ion-padding-start{
	padding-bottom: 16px
}

.close {
    color: #2b2b2b;
    opacity: 0.9;
    width: 35px;
    height: 35px;
  }

.confirm {
	color: #000;
}

.disclaimer {
	font-size: small;
}