:root {
	--ion-color-new-register: #feaa00;
	--ion-color-new-register-rgb: 254,170,0;
	--ion-color-new-register-contrast: #000000;
	--ion-color-new-register-contrast-rgb: 0,0,0;
	--ion-color-new-register-shade: #e09600;
	--ion-color-new-register-tint: #feb31a;
}

.ion-color-new-register {
	--ion-color-base: var(--ion-color-new-register);
	--ion-color-base-rgb: var(--ion-color-new-register-rgb);
	--ion-color-contrast: var(--ion-color-new-register-contrast);
	--ion-color-contrast-rgb: var(--ion-color-new-register-contrast-rgb);
	--ion-color-shade: var(--ion-color-new-register-shade);
	--ion-color-tint: var(--ion-color-new-register-tint);
}

* {
    --background: rgb(249,187,21);
    --background: linear-gradient(90deg, rgba(249,187,21,1) 0%, rgba(255,204,124,1) 100%);
}

ion-input {
    --background: #ffff;
    --padding-start: 20px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 22px;
    color: #000000;
    width: 300px;
    margin-left: 2em;
    margin-top: 0.5em;
    text-indent: 1em;
}

ion-label {
    font-family:OpenSans-Bold;
    src: url("/assets/fonts/OpenSans-Bold.ttf");
    margin-left: 1em;
    color: #ffff !important;
    font-size: 20px !important;
}

ion-button {
    margin-top: 1.5em;
    margin-left: 4em;
    width: 300px;
    --background: #ffff; 
    border: 2px solid #feaa00;
    height: 3em;
    color: #feaa00;
}

ion-img {
    width: 8em;
    margin-top: 4em;
    margin-left: 9em;
    margin-bottom: 2em;
}

span {
    font-family:OpenSans-Regular;
    src: url("/assets/fonts/OpenSans-Regular.ttf");
    font-size: small;
    margin-left: 3em;
}

ion-label {
    margin-top: 2em;
    margin-left: 2em;
}

#login {
    margin-top: 2em;
    margin-left: 6em;
}

