<ion-header class="ion-no-border">
</ion-header>

<ion-content>
  <ion-img src="/assets/logo sem fundo.png"></ion-img>

    <form [formGroup] = "myForm" (ngSubmit)="confirmation()"> 
      <ion-item *ngFor="let c of registerForm">
        <ion-label position="stacked">
          {{ c.options.label }}
        </ion-label>

        <div [ngSwitch] = "c.type">
          <ion-datetime *ngSwitchCase="'date'" [formControlName] = "c.key"></ion-datetime>
          <ion-input *ngSwitchCase="'input'"  [type] = "c.options.type ? c.options.type : 'text'" [formControlName] = "c.key" [placeholder] = "c.options.placeholder"></ion-input>
        </div>
        
      </ion-item>
    <br><br>
    <span>By signing up, you agree to our <b>Terms</b> & <b>Privacy Policy</b>.</span>

    <ion-button type="submit" expand ="block" [disabled]="!myForm.valid">SIGN UP</ion-button>
    </form>

    <p id="login">Have an account? <a (click)="goLogInPage()">Log In</a></p>

    <!-- <p><a (click)="goHttp()">qualquer cena</a></p> -->
    
</ion-content>

